/* Estilos generales */
.container {
  padding: 20px 30px 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}
.header {
  display: flex;
  background-color: #f1f1f1;
  margin-left: -10px;
  width: 102%;
}
.hidden {
  display: none;
}
.btn-rotate {
  position: absolute;
  left: -9999px;
}
footer {
  background-color: rgba(51, 51, 51, 0.1);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  font-style: italic;
  font-family: Arial, sans-serif;
  font-size: 20px;
}
.search-container {
  background-color: #ffffff;
  height: 60px;
  width: 102%;
  display: flex;
  margin-left: -10px;
  align-items: center;
}
.logo {
  max-width: 200px;
}
.content {
  padding: 10px;
}
.header h1 {
  margin: 0 auto;
}
.row {
  margin-bottom: 10px;
}
.col {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

/* Estilos para PC */
@media (min-width: 1025px) {
  /* Los estilos generales ya cubren los estilos para PC */
  .reverse-on-pc .row {
    display: flex;
    flex-direction: row-reverse; /* Invierte el orden de los elementos en estanterías marcadas */
  }
  .header {
    position: relative; /* Necesario para que la posición absoluta de la imagen flotante sea relativa a .header */
  }
  
  .floating-image {
    position: absolute;
    right: 50px; /* Ajusta según sea necesario */
    top: 40%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajuste de la posición */
    width: 120px; /* Ajusta el tamaño según tus necesidades */
  }
  
}
/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
  .container {
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  }
  .row {
    margin-bottom: 10px;
  }
  .col {
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 5px;
    min-width: 18px;
  }
  .header {
    margin-left: -15px;
    width: 107%;
  }
  .search-container {
    width: 107%;
    margin-left: -15px;
  }
  .header h1 {
    font-size: 20px;
  }
  footer {
    font-size: 10px;
  }
  button.hidden {
    display: none;
  }
  .reverse-on-mobile .row {
    display: flex;
    flex-direction: row-reverse; /* Invierte el orden de los elementos en estanterías marcadas */
  }
  .header {
    position: relative; /* Necesario para que la posición absoluta de la imagen flotante sea relativa a .header */
  }
  
  .floating-image {
    position: absolute;
    right: 70px; /* Ajusta según sea necesario */
    top: 90%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajuste de la posición */
    width: 60px; /* Ajusta el tamaño según tus necesidades */
  }
}
/* Estilos específicos para dispositivos de tamaño de tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  }
  .col {
    padding: 3px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 10px; /* Reducir el tamaño de las letras */
    min-width: 50px;
  }
  button.hidden {
    display: none;
  }
  .header {
    position: relative; /* Necesario para que la posición absoluta de la imagen flotante sea relativa a .header */
  }
  
  .floating-image {
    position: absolute;
    right: 70px; /* Ajusta según sea necesario */
    top: 75%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajuste de la posición */
    width: 75px; /* Ajusta el tamaño según tus necesidades */
  }
}

/* Estilos específicos para todas las estanterías */
.estanteria {
  margin-top: 20px; /* Agrega un espacio entre el buscador y las estanterías */
  padding-top: 50px; /* Ajusta el espacio para compensar el buscador flotante */
}
